///////////////////////////////////////////////////////////
//
//   Error
//
///////////////////////////////////////////////////////////

@charset "utf-8";
@use "../../styles/setting/variables.scss" as *;
@use "../../styles/foundation/mixins.scss" as *;
@use "../../styles/foundation/functions.scss" as *;

.p-error {
  display: grid;
  place-items: center;
}

.p-error__inner {
  text-align: center;
}

.p-error__title {
  font-size: clamp_size(60, 100);
  font-weight: 700;
}